<%- include('partials/header') %>


<main>
    <section id="card">
        <h1>App - Home</h1>

        <!-- change this to a form -->
        <div id="card-mid">
            <a class="submit-btn" href="/login" role="button">Login</a>
            <a class="reg-btn" href="/register" role="button">Add User</a>
        </div>
    </section>
</main>

<%- include('partials/footer') %>